@charset "UTF-8";
/*Vars*/
* {
  margin: 0;
  padding: 0; }

/*Paleta de colores
#ff5a29
#ff3d03
#030303
#464646 (rgb 70,70,70,0.5)
*/
/*Imports*/
nav {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25rem;
  width: 100%;
  height: 13vh;
  justify-content: space-between; }

nav ul {
  list-style: none; }

nav ul li {
  display: inline-block;
  position: relative;
  margin: 0 23px; }

nav ul li ul {
  position: absolute;
  display: none;
  font-size: 1rem; }

nav ul li ul li {
  display: block;
  margin-left: 0; }

nav ul li:hover ul {
  display: block; }

li a.dropdown-item {
  color: #ff3d03;
  background-color: rgba(70, 70, 70, 0.5); }

ul.dropdown-menu {
  min-width: 8rem;
  background-color: transparent;
  border: none; }

a.nav-link {
  text-decoration: none;
  color: #ff3d03; }

a.nav-link:hover {
  color: #ff5a29; }

.boxLogo {
  width: 17vh;
  text-align: center;
  margin-left: 20px; }

@media screen and (max-width: 600px) {
  nav {
    float: none;
    width: 100%; } }

footer {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  height: 12vh; }
  footer ul li {
    display: inline-block;
    margin: 25px 10px 5px;
    padding: 0 7px;
    color: #ff3d03; }
    footer ul li a {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end; }
      footer ul li a img {
        height: 35px; }

.copy {
  margin: auto;
  margin-bottom: 7px;
  padding: 5px;
  font-size: 1rem;
  text-align: center; }

/*Todas las secciones*/
body {
  background-color: #030303; }

p, main {
  color: #ff3d03; }

h3 {
  font-size: 2rem; }

h5 {
  font-size: 1rem; }

.disp {
  display: inline-block; }

/*Sólo Miembros, Historia, Música, Galería, Contacto*/
.aboutH1 {
  font-size: 3rem;
  letter-spacing: 1px;
  font-weight: 600;
  text-align: left;
  margin: 120px 0 50px 10px;
  animation-duration: 3s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.aboutImage img {
  border-radius: 10px; }

.section h3, div p {
  font-family: 'Bitter', serif; }

.nave.fixed-top {
  background-color: #030303; }

/*Sólo Index*/
#index {
  background-image: url(../img/backgroundmcnd.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 88vh; }

.textoMain {
  font-family: 'Raleway', sans-serif;
  text-align: center; }
  .textoMain h1 {
    font-size: 8rem;
    letter-spacing: 20px;
    margin-bottom: 10px; }
  .textoMain h3 {
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 2.5px;
    margin-bottom: 5px; }
  .textoMain h5 {
    font-weight: 600;
    letter-spacing: 1px;
    margin: 10px 0 30px; }

.delPe {
  width: 63%;
  margin: auto;
  padding: 15px;
  background-color: rgba(70, 70, 70, 0.5); }
  .delPe p {
    font-weight: 600;
    font-size: 1.15rem;
    letter-spacing: 2px; }
    .delPe p .transf:hover {
      transform: scale(1.2, 1.2);
      transition: transform 3s;
      cursor: pointer; }

.center article {
  width: 100%;
  margin: auto; }

/*Sólo Miembros*/
.miembro__title {
  display: inline-block;
  text-align: center;
  width: 500px;
  font-weight: 600;
  letter-spacing: 2px;
  border: 1px;
  padding: 5px;
  margin: 15px 0; }
  .miembro__title img:hover {
    transform: translate(10px, 20px);
    cursor: pointer; }

.miembro__text {
  display: inline-block;
  text-align: center;
  width: 500px;
  font-weight: 600;
  letter-spacing: 2px;
  border: 1px;
  padding: 10px; }
  .miembro__text p {
    font-size: 1.25rem; }

.miembro__title--margin {
  width: 31.25em;
  margin: auto; }

.flexRevrs {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-end; }

.flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end; }

/*Sólo Historia*/
.blo {
  display: inline-block;
  text-align: center;
  margin: auto; }

.historia__hr {
  width: 250px;
  margin-left: 20px; }

.historia__title {
  text-align: justify;
  width: 400px;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 2px;
  border: 1px;
  padding: 10px 19px;
  margin: 5px 10px; }

.historia__text {
  text-align: left;
  width: 400px;
  font-weight: 600;
  font-size: 1.20rem;
  letter-spacing: 2px;
  border: 1px;
  padding: 10px 19px;
  margin: 5px 10px; }

.transf:hover {
  transform: scale(1.2, 1.2);
  transition: transform 3s;
  cursor: pointer; }

/*Sólo Música*/
.tabla__texto {
  color: #ff3d03;
  text-align: center;
  font-size: 1.25rem;
  letter-spacing: 1px; }

.tabla__style {
  color: #030303;
  background-image: linear-gradient(to top, #ff5a29, #ff3d03);
  margin: 20px;
  font-size: 1rem;
  border: solid black 1px; }
  .tabla__style tabla__style--disco {
    margin-left: 50px; }

.tabla__box tr th, td {
  box-sizing: border-box;
  text-indent: initial;
  width: 180px;
  height: 50px; }

.box tr th {
  font-weight: bold;
  font-size: 1.25rem; }

.tabla__style--lista li {
  color: black;
  overflow: hidden; }

.borr table {
  border-width: 5px #030303 solid; }

aside {
  height: 55vh; }

aside div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  flex: 1;
  margin: 20px 0 10px 35px; }

/*Sólo Galería*/
.aboutH3 article h3 {
  text-align: center;
  font-family: 'Bitter', serif;
  font-size: 1.5em;
  padding: 10px; }

.sizeCarou {
  width: 60%;
  margin: 20px 50px;
   }

/*Sólo Contacto*/
.contact__text {
  letter-spacing: 2px;
  display: inline-block;
  width: 25rem;
  height: 19rem;
  padding: 20px;
  margin: auto; }
  .contact__text p {
    font-size: 1.20rem;
    font-weight: 600;
    text-align: center; }

.bord {
  border-radius: 10px; }

.display {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 70px; }

.aboutForm {
  display: inline-block;
  width: 25rem;
  height: 43rem;
  padding: 20px;
  margin: 0 30px; }
  .aboutForm p {
    text-align: left;
    line-height: 30px;
    font-size: 1rem;
    letter-spacing: 1.5px;
    font-weight: 700; }

label {
  display: block; }

.aboutForm__marginC {
  margin: 2px 0; }

.aboutForm__marginR {
  margin: 2px 0 20px;
  border-radius: 8px; }

.margRectS {
  margin: 10px 0 20px;
  border-radius: 8px; }

.dispCheck {
  display: inline-block;
  margin: 5px 15px 15px 0; }

.marG {
  margin-bottom: 20px; }
