footer {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  height: 12vh;
    ul li {
    display: inline-block;
    margin: 25px 10px 5px;
    padding: 0 7px;
    color: $texto;
       a {
       display: flex;
       flex-flex: row nowrap;
       justify-content: flex-end;
        img{
          height: 35px;
          }}
    }
}


.copy {
  margin: auto;
  margin-bottom: 7px;
  padding: 5px;
  font-size: 1rem;
  text-align: center; }
